Django
gunicorn
whitenoise
dj-database-url
psycopg2-binary
Pillow
google-generativeai
requests
python-dotenv
pandas
openai
razorpay
pandas
numpy
scikit-learn
Django
gunicorn
whitenoise
dj-database-url
psycopg2-binary
Pillow
google-generativeai
requests
python-dotenv
